[submodule "3rdparty/SDL"]
	path = 3rdparty/SDL
	url = https://github.com/libsdl-org/SDL.git
[submodule "3rdparty/SDL_image"]
	path = 3rdparty/SDL_image
	url = https://github.com/libsdl-org/SDL_image.git
[submodule "3rdparty/SDL_ttf"]
	path = 3rdparty/SDL_ttf
	url = https://github.com/libsdl-org/SDL_ttf.git
[submodule "3rdparty/googletest"]
	path = 3rdparty/googletest
	url = https://github.com/google/googletest.git
